#queue_name {
	font-style: oblique;
}

#queue_viewer {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
}

#queue_viewer div.filled {
    width: 30px;
    height: 30px;
    background-color: darkorange;
    position: absolute;
}

#queue_viewer div.empty {
    width: 20px;
    height: 20px;
	border-style: solid;
    border-width: 5px;
	border-color: darkorange;
    position: absolute;
}

#queue_info {
	font-size:larger;
	text-align: center;
}

#queue_error {
	color: red;
}
